.vault-container svg {
  width: 100%;
  transform: scale(1.5);
}

.left-container {
  width: 50%;
}

.right-container {
  display: flex;
  align-items: end;
  height: 100%;
}

.buttons {
  display: flex;
}

.balances-container {
  transform: scale(1.2);
  /* border: 1px solid lightgray; */
  border-radius: 8px;
  width: 50%;
  padding-left: 3.5em;
}
.balances-container h1 {
  font-size: larger;
  font-weight: bolder;
}

.balances-container h4 {
  font-weight: bold;
}

.balances-container h5 {
  color: gray;
}



.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  color: black;
  border: 1px solid lightgray;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
    rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}